<h5 style="color:lime"><%= notice %></h5>
<h5 style="color:lime"><%= alert %></h5>

<p>
  <strong>Title:</strong><%=@book.title %>
</p>
<p>
  <strong>Body:</strong><%=@book.body %>
</p>

<%= link_to "Edit", edit_book_path(@book.id) %>
 |
<a class="back" href="/books">Back</a>